# =========================
# Environment
# =========================
.env
.env.local
.env.*.local

# =========================
# Go build files
# =========================
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# coverage
coverage.*
*.coverprofile

# =========================
# Go workspace
# =========================
go.work
go.work.sum

# =========================
# Go dependencies
# =========================
vendor/

# =========================
# Logs
# =========================
*.log

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db